In [1]:
ls

 Volume in drive D has no label.
 Volume Serial Number is FCE3-1838

 Directory of D:\PythonEx

02/20/2025  01:56 PM    <DIR>          .
02/20/2025  01:56 PM    <DIR>          .ipynb_checkpoints
01/09/2025  04:18 PM    <DIR>          .venv
01/21/2025  03:38 PM    <DIR>          __pycache__
01/09/2025  05:16 PM           318,439 FirstJupyter.ipynb
01/30/2025  03:54 PM    <DIR>          image
02/19/2025  04:46 PM            10,697 index.py
01/25/2025  12:49 PM                62 new.txt
02/19/2025  04:19 PM    <DIR>          node_modules
02/19/2025  04:19 PM                49 package.json
02/19/2025  04:45 PM               907 package-lock.json
02/19/2025  04:44 PM            24,107 Untitled.ipynb
02/19/2025  05:53 PM            23,257 Untitled1.ipynb
02/20/2025  01:56 PM               337 Untitled2.ipynb
01/21/2025  03:51 PM               189 validate.py
               9 File(s)        378,044 bytes
               6 Dir(s)   5,384,249,344 bytes free

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mat

In [4]:
df = pd.read_csv("new.txt")

In [5]:
df

Empty DataFrame
Columns: [firstMessagesecondMessagethirdMessage fourMessage fivthMessage]
Index: []

In [6]:
ls

 Volume in drive D has no label.
 Volume Serial Number is FCE3-1838

 Directory of D:\PythonEx

02/20/2025  02:25 PM    <DIR>          .
02/20/2025  01:56 PM    <DIR>          .ipynb_checkpoints
01/09/2025  04:18 PM    <DIR>          .venv
01/21/2025  03:38 PM    <DIR>          __pycache__
02/19/2025  05:42 PM            41,417 banklist.csv
01/09/2025  05:16 PM           318,439 FirstJupyter.ipynb
01/30/2025  03:54 PM    <DIR>          image
02/19/2025  04:46 PM            10,697 index.py
01/25/2025  12:49 PM                62 new.txt
02/19/2025  04:19 PM    <DIR>          node_modules
02/19/2025  04:19 PM                49 package.json
02/19/2025  04:45 PM               907 package-lock.json
02/19/2025  04:44 PM            24,107 Untitled.ipynb
02/19/2025  05:53 PM            23,257 Untitled1.ipynb
02/20/2025  02:25 PM             3,807 Untitled2.ipynb
01/21/2025  03:51 PM               189 validate.py
              10 File(s)        422,931 bytes
               6 Dir(s)   5,384,200,192 bytes free

In [7]:
df=pd.read_csv("banklist.csv")

In [8]:
df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Banks of Wisconsin d/b/a Bank of Kenosha,Kenosha,WI,35386,"North Shore Bank, FSB",31-May-13,31-May-13
1,Central Arizona Bank,Scottsdale,AZ,34527,Western State Bank,14-May-13,20-May-13
2,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,21-May-13
3,Pisgah Community Bank,Asheville,NC,58701,"Capital Bank, N.A.",10-May-13,14-May-13
4,Douglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13,16-May-13
...,...,...,...,...,...,...,...
501,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,5-Jun-12
502,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
503,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
504,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
505,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05