In [1]:
from zeep import Client

In [4]:
client = Client("http://www.dneonline.com/calculator.asmx?wsdl")

In [5]:
client.service.Add

In [6]:
client

In [7]:
client.Service.Add

AttributeError: 'Client' object has no attribute 'Service'

In [8]:
client.service.Add

In [9]:
dir(client.service.Add)

['__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_merge_soap_headers',
 '_op_name',
 '_proxy']

In [10]:
client.service.Add.__doc__

'Add(intA: xsd:int, intB: xsd:int) -> AddResult: xsd:int'

In [11]:
client.service.Add(5,6)

11

In [12]:
client.service

In [13]:
for s in client.service:
    print(s)

('Add', <zeep.proxy.OperationProxy object at 0x0000019E4204F770>)
('Subtract', <zeep.proxy.OperationProxy object at 0x0000019E4305A0D0>)
('Multiply', <zeep.proxy.OperationProxy object at 0x0000019E4305B750>)
('Divide', <zeep.proxy.OperationProxy object at 0x0000019E430A28B0>)

In [14]:
client.service.__module__

'zeep.proxy'

In [15]:
client.service.__new__

In [17]:
client.service

In [18]:
dir(client.service)

['Add',
 'Divide',
 'Multiply',
 'Subtract',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__self_class__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__thisclass__']

In [19]:
client.service.__getstate__

In [21]:
client.service.Add.__getstate__()

{'_proxy': <zeep.proxy.ServiceProxy at 0x19e4204f620>, '_op_name': 'Add'}

In [23]:
client.service.Multiply(6,7)

42

In [24]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv(r"D:\\banklist.csv")

In [29]:
df.head(5)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Banks of Wisconsin d/b/a Bank of Kenosha,Kenosha,WI,35386,"North Shore Bank, FSB",31-May-13,31-May-13
1,Central Arizona Bank,Scottsdale,AZ,34527,Western State Bank,14-May-13,20-May-13
2,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,21-May-13
3,Pisgah Community Bank,Asheville,NC,58701,"Capital Bank, N.A.",10-May-13,14-May-13
4,Douglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13,16-May-13

In [30]:
df.describe()

              CERT
count    506.00000
mean   31948.91502
std    16367.55409
min      151.00000
25%    21222.75000
50%    32176.00000
75%    35385.25000
max    58701.00000

In [31]:
df.describe()

              CERT
count    506.00000
mean   31948.91502
std    16367.55409
min      151.00000
25%    21222.75000
50%    32176.00000
75%    35385.25000
max    58701.00000

In [32]:
new = df[['Bank Name' , 'City']]

In [33]:
new

                                    Bank Name          City
0    Banks of Wisconsin d/b/a Bank of Kenosha       Kenosha
1                        Central Arizona Bank    Scottsdale
2                                Sunrise Bank      Valdosta
3                       Pisgah Community Bank     Asheville
4                         Douglas County Bank  Douglasville
..                                        ...           ...
501                        Superior Bank, FSB      Hinsdale
502                       Malta National Bank         Malta
503           First Alliance Bank & Trust Co.    Manchester
504         National State Bank of Metropolis    Metropolis
505                          Bank of Honolulu      Honolulu

[506 rows x 2 columns]

In [35]:
new.values

array([['Banks of Wisconsin d/b/a Bank of Kenosha', 'Kenosha'],
       ['Central Arizona Bank', 'Scottsdale'],
       ['Sunrise Bank', 'Valdosta'],
       ...,
       ['First Alliance Bank & Trust Co.', 'Manchester'],
       ['National State Bank of Metropolis', 'Metropolis'],
       ['Bank of Honolulu', 'Honolulu']], shape=(506, 2), dtype=object)